.testimoials-block
	h2.testimoials__h2 Что говорят о нас клиенты
	.container
		.testimoials__wrap

			.testimoials__item
				img(src="img/foto-1.png", alt="#").testimoials__picture
				h5.testimoials__h5 ООО “ЗаводСтрой”
				p.testimoials__text-content.
					“Около полугода назад мы начали сотрудничать с компанией Лесстрон. Обратились к ним после того, как не получили от текущего поставщика положенного объема. Приятно удивило то, что недостающие 4 машины сразу отправили нам на объект.<br> 
					Своей оперативностью они оправдали наши надежды на долгое сотрудничество. Делаем заказы теперь именно в этой компании, поскольку нам важна стабильная и бесперебойная поставка. Спасибо всей команде!”
				p.testimoials__name Сергей Половнев

			.testimoials__item
				img(src="img/foto-2.png", alt="#").testimoials__picture
				h5.testimoials__h5 ООО “ЗаводСтрой”
				p.testimoials__text-content.
					“Делал недавно у вас заказ готового раствора на заливку фундамента.<br>
					Позвонил за день до самой заливки 
					(хотя надо было конечно раньше, закрутился и затянул время).<br>
					Но к удивлению доставка сработала оперативно и в назначенное время у меня уже проводилась отгрузка. 
					Две машины приехали в 11.30, как и договаривались. Бетон хорошего качества, 
					я им доволен.<br>
					Компанию порекомендую своим знакомым, спасибо!”
				p.testimoials__name Дамир Байрамов

			.testimoials__item
				img(src="img/foto-3.png", alt="#").testimoials__picture
				h5.testimoials__h5 ООО “ЗаводСтрой”
				p.testimoials__text-content.
					“Около полугода назад мы начали сотрудничать с компанией Лесстрон. Обратились к ним после того, как не получили от текущего поставщика положенного объема. Приятно удивило то, что недостающие 4 машины сразу отправили нам на объект.<br> 
					Своей оперативностью они оправдали наши надежды на долгое сотрудничество. Делаем заказы теперь именно в этой компании, поскольку нам важна стабильная и бесперебойная поставка. Спасибо всей команде!”
				p.testimoials__name Алексей Морозов