extends common_parts/template.pug

block vars
	- var pageId = 1
	- var page_name = "home"

	- var title = "Купить Бетон в Балашихе с доставкой, цена прямого производителя Лесстрон";
	- var description = "Бетон и раствор в Балашихе по цене производителя. Доставка до вашего объекта в кратчайшие сроки";
	- var keywords = "бетон Балашиха, купить бетон, бетон цена, бетон с доставкой, раствор Балашиха, купить раствор";

	- var beton_class = "home-page"


block header
	include common_parts/header.pug

block main

	main.beton__main
		.article__container

			.advantages-block.advantages-block--aic-jcsb

				<!-- noindex -->
				.frame-block
					h4.advantages__h4 Своё промышленное производство!
					p.advantages__text.
						Обратившись к нам, вы получите столько бетона, сколько потребуется для выполнения всех работ на строительном объекте.
				<!--/ noindex -->

				<!-- noindex -->
				.advantages__title
					p.advantages__overhead Наши преимущества
					h3.advantages__h3 Почему заказывать бетон в “Лесстроне” выгодно?
				<!--/ noindex -->


		.article__container

			.advantages-block.advantages-block__items-wrap.advantages-block__items--top-row

				.advantages-block__item
					img(src="img/icon-1.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Работаем без посредников 
					p.advantages-block__item__text.
						Мы производим бетон на своём заводе и доставляем своим автопарком. Никаких сторонних подрядчиков.

				.advantages-block__item
					img(src="img/icon-2.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Надежная логистика
					p.advantages-block__item__text.
						Благодаря проработанным маршрутам, мы быстро <br>
						и без задержек доставим бетон в любой район Балашихи

				.advantages-block__item
					img(src="img/icon-3.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Высшее качество
					p.advantages-block__item__text.
						Полное соблюдение ГОСТ-ов марок при изготовлении бетонных смесей. Будьте уверены в качестве бетона


			.advantages-block.advantages-block__items-wrap--bottom-row

				.advantages-block__item
					img(src="img/icon-4.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Минимальные цены
					p.advantages-block__item__text.
						У нас вы можете купить качественный бетон по цене от 3000 руб. за м³, без наценок

				.advantages-block__item
					img(src="img/icon-5.png", alt="#").advantages-block__item__icon
					h5.advantages-block__item__title Большие производственные объемы
					p.advantages-block__item__text.
						Благодаря нашим производственным мощностям, мы способны изготовить любое количество бетонного раствора, в указанные в заявке сроки


		.beton-price-block
			h2.beton-price__h2 Текущие цены на бетон

			.beton-price__table

				.price-table__top-row
					span.price-table__column-title Марка (класс) бетона
					span.price-table__column-title Гравий
					span.price-table__column-title Гранит

				.price-table__row
					span.price-table__row-value М 100 (В 7,5)
					span.price-table__row-value 2 950 руб./м3
					span.price-table__row-value 3 880 руб./м3
				.price-table__row
					span.price-table__row-value М 150 (В 12,5)
					span.price-table__row-value 3 040 руб./м3
					span.price-table__row-value 3 980 руб./м3
				.price-table__row
					span.price-table__row-value М 200 (В 17,5)
					span.price-table__row-value 3 130 руб./м3
					span.price-table__row-value 4 080 руб./м3
				.price-table__row
					span.price-table__row-value М 250 (В 20)
					span.price-table__row-value 3 310 руб./м3
					span.price-table__row-value 4 270 руб./м3
				.price-table__row
					span.price-table__row-value М 300 (В 22,5)
					span.price-table__row-value 3 400 руб./м3
					span.price-table__row-value 4 360 руб./м3
				
				.price-table__row
					span.price-table__row-value М 350 (В 25)
					span.price-table__row-value 3 640 руб./м3
					span.price-table__row-value 4 510 руб./м3
				.price-table__row.price-table__row--bottom-line
					span.price-table__row-value М 400 (В 30)
					span.price-table__row-value 3 800 руб./м3
					span.price-table__row-value 4 820 руб./м3


				.promotion-block

					.promotion-block__text-block
						h3.promotion-block__h3 Акция только до 31 августа!
						p.promotion-block__text.
							Бетон М-300 с доставкой <span>по цене 3700 руб/м<sup>3</sup></span> при заказе не менее 7 м<sup>3</sup>
					
					a(href="#callback").big-orange-button.popup-js Заказать бетон

		.assortiment__wrap
			.assortiment-block
				h2.assortiment-block__h2.
					Широкий ассортимент, <br>
					любая задача по плечу

				.assortiment__text-block
					p.
						Мы хотим стать для вас лучшим поставщиком бетона и строительного раствора!
						Развитое бетонное производство, компетентные менеджеры, быстрая и надежная логистика сделают для вас работу с нами легкой и простой.

					p.
						Помимо бетона мы можем поставить вам готовый строительный раствор необходимой плотности, прочности, водостойкости и морозостойкости.
					p.assortiment__text-block--last-p.
						Наши специалисты способны изготовить высококачественный раствор в кратчайшие сроки и доставить на любой объект <br>
						в Балашиху. Зачем тратить время на замешивание раствора вручную, если можно с небольшой переплатой <b>заказать готовую смесь</b> в необходимом объеме и выполнить работу максимально быстро. По всем вопросам вас прокунсультируют наши менеджеры.
					img(src="img/img_cement-2.jpg", alt="Строительный раствор").assortiment__picture
			
				<!-- noindex -->
				.assortiment-block__post-text
					p.assortiment-block__post-text__text.
						Мы имеем огромный опыт поставки бетона, сохраняя наименьшую цену за куб – только у нас вы сможете не только заказать готовую смесь, но и существенно сэкономить.
				<!--/ noindex -->


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Бетон в Балашихе с доставкой
				p
					| Современные строительные работы редко обходятся без использования смесей на основе цемента. Бетон является самой востребованной из них. Благодаря своим технологическим характеристикам его применяют в различных строительно-монтажных работах (СМР), среди которых:
					ul.text__ul
						li Заливка фундамента
						li Возведение опор
						li Обустройство дорог
						li Сооружение стен и перекрытий
						li Производство различной ж/б продукции
						li Прочие СМР
				p.
					Вы ведете строительство в районе Балашихи? Вам срочно требуется качественный бетон? Обращайтесь в нашу организацию! Мы производим и доставляем бетон в Балашихе для любых строительных работ в любом объеме по разумной стоимости.

				h3.text__h3 Ценообразование
				p.
					Стоимость бетона в Балашихе от 3-х тыс. рублей за куб будет интересна многим заказчикам. Поэтому не стоит тратить время на поиски, а обращайтесь в нашу компанию. Мы предлагаем высококачественные растворы всех известных марок, в любом объем по вышеуказанной цене. Компания имеет собственное производство, оснащенное современным оборудованием, солидный автопарк и отличную логистическую службу, что позволяет оперативно выполнять заявки наших клиентов.
				p.
					Для нас не станет проблемой даже поломка миксера по дороге к заказчику. Сотрудники моментально найдут замену и сохранят оговоренный график поставок без изменений. Во время изготовления бетонных смесей мы применяем современные технологии и химические добавки, поэтому наш бетон характеризуется отменными техническими параметрами. Ему не страшны морозы и другие вредоносные воздействия окружающей среды.
				p.
					Скрупулезно проработанная нашей компанией система производства и доставки бетона в Балашихе позволяет устанавливать доступные цены на продукцию. Мы стараемся, чтобы наше сотрудничество было обоюдовыгодным. Приобретая раствор у нас, вы экономите свои средства и время. Для оформления заявки можно подъехать к нам в офис или связаться с нами по телефону. Наши опытные сотрудники ответят на все вопросы и помогут оформить заказ.
				p.
					Чтобы не тратить время на замес цементного раствора можно заказать его уже в готовом виде. Если вы решили заняться оштукатуриванием стен или заливкой стяжки это решение поможет быстрее справиться с поставленной задачей. Да, покупка обойдется дороже. Но сэкономленные часы и силы можно потратить на другие, более неотложные, дела. Смесь высокого качества от нашей компании используется для оборудования тротуаров, обустройства клумб и дорожек возле дома и возведения кирпичной кладки.
				p.
					Сотрудничайте с нами, и вы приобретете надежного и выгодного партнера!


		.template-article__wrap
			.text-elements__wrap
				h2.template__h2 Цена (прайс-лист) на строительный раствор

			.beton-price__table.beton-price__table--centered

				.price-table__top-row
					span.price-table__column-title Марка (класс) раствора
					span.price-table__column-title Цена

				.price-table__row
					span.price-table__row-value М 100
					span.price-table__row-value 2 510 руб./ куб. м

				.price-table__row
					span.price-table__row-value М 150
					span.price-table__row-value 2 640 руб./ куб. м

				.price-table__row
					span.price-table__row-value М 200
					span.price-table__row-value 2 800 руб./ куб. м

				.price-table__row
					span.price-table__row-value М 300
					span.price-table__row-value 3 000 руб./ куб. м



		