- var title = "Спасибо за заявку!";
- var description = "Спасибо за заявку";
- var keywords = "Спасибо за заявку";
doctype html
html(lang='ru')
	include Общие_части/head.pug
	body.thanks-page
		link(rel="stylesheet", href="css/thanks.css")

		.thanks__wrap
			img(src="img/logo_thanks.png", alt="#")
			h1 Спасибо за заявку!
			p.
				Благодарим вас за доверие к нашей компании. <br>
				Менеджер свяжется с вами в течение 10 минут!

			p.redirect__text Вы будете перенаправлены на главную страницу сайта через 3 секунды

<script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter45174849 = new Ya.Metrika({ id:45174849, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script>

script(type='text/javascript').
	setTimeout('window.history.back()',4000);