- var title = "Адреса и телефоны нашего офиса - Лесстрон";
- var description = "Контактная информация для посетителей сайта";
- var keywords = "контакты Лесстрон";


- var page_name = "contacty"

- var title__h1 = "Контакты"

include common_parts/mixins.pug


<!DOCTYPE html>
html(lang="ru")
	head
		include common_parts/head.pug

		+styles
	body.template-page.template-page--contacty
		include common_parts/header__template.pug

		include contacty__body.pug
		//- libs Css
		link(rel="stylesheet", href="css/popup.css")

		include common_parts/modals.pug
		include common_parts/footer.pug
		
		include common_parts/scripts.pug