- var title = "Информация по доставке - Лесстрон";
- var description = "Вся информация по доставке стройматериалов в города МО";
- var keywords = "информация по стоимости привоза стройматериалов";


- var page_name = "dostavka"

- var title__h1 = "Доставка и оплата"

include common_parts/mixins.pug

- var pageId = 5


<!DOCTYPE html>
html(lang="ru")
	head
		include common_parts/head.pug
		+styles
	body.template-page.template-page--dostavka
		include common_parts/header__template.pug

		include dostavka__body.pug
		//- libs Css
		link(rel="stylesheet", href="css/popup.css")

		include common_parts/modals.pug
		include common_parts/footer.pug
		include common_parts/scripts.pug