- var title = "Купить Бетон в Балашихе с доставкой, цена производителя";
- var description = "Бетон и раствор в Балашихе по цене производителя. Доставка до вашего объекта в кратчайшие сроки";
- var keywords = "бетон Ивантеевка, купить бетон, бетон цена, бетон с доставкой, раствор Ивантеевка, купить раствор";


- var page_name = "home"

include common_parts/mixins.pug

- var pageId = 1


<!DOCTYPE html>
html(lang="ru")
	head
		include common_parts/head.pug

		+styles
	body.home-page
		include common_parts/header.pug

		include index__body.pug
		//- libs Css
		link(rel="stylesheet", href="css/popup.css")

		include common_parts/modals.pug
		include common_parts/footer.pug
		include common_parts/scripts.pug