- var title = "Битумная мастика в Ивантеевке по цене поставщика";
- var description = "Купить битумную мастику в Ивантеевке по оптовой цене, возможна доставка до вашего объекта";
- var keywords = "Битумная мастика в Ивантеевке, купить битумную мастику, мастика цена, мастика для бетона";


- var page_name = "mastika"

- var title__h1 = "Битумная мастика с доставкой"

include common_parts/mixins.pug

- var pageId = 3


<!DOCTYPE html>
html(lang="ru")
	head
		include common_parts/head.pug
		+styles
	body.template-page.template-page--mastika
		include common_parts/header__template.pug

		include mastika__body.pug
		//- libs Css
		link(rel="stylesheet", href="css/popup.css")

		include common_parts/modals.pug
		include common_parts/footer.pug
		include common_parts/scripts.pug